html{
    font-family: Georgia, serif;
    background: linear-gradient(to bottom, #272727, #252424) fixed;
}

.submission {
    text-align: center;
    margin: auto;
    width: 30%;
    height: 100%;
    padding: 20px;
    background: linear-gradient(#4d6b53, #364b3a);
    border-radius: 8px;
    color: #FFFFFF;
}

.submissionOFF {
    text-align: center;
    margin: auto;
    width: 30%;
    height: 100%;
    padding: 20px;
    background: linear-gradient(#614041, #6D2B2C);
    border-radius: 8px;
    color: #FFFFFF;
}