html{
    font-family: Georgia, serif;
    background: linear-gradient(to bottom, #272727, #252424) fixed;
}

.submission {
    text-align: center;
    margin: auto;
    width: 20%;
    height: 100%;
    padding: 20px;
    background: linear-gradient(#2a475e, #395f7f);
    border-radius: 8px;
    color: #FFFFFF;
}

h1{
    text-align: center;
    color: white;
}

body{
    color: white;
}
.table{
}
.thead{
    text-align: center;
}
.table_header{
    text-align: center;
    background-color: black;
    size: 20px;
}
.table_row:nth-child(odd){
    background-color: #1a1a1a;

}
.table_cell{
    padding: 8px ;
    color: white;
}
