html{
    font-family: Georgia, serif;
    background: linear-gradient(to bottom, #272727, #252424) fixed;
}
h1{
    text-align: center;
    color: white;
}
body{
    color: white;
}

.row {
    display:flex;
}

.column {
    flex:50%;
    padding: 5px;
}
.column2{
    flex: 25%;
    padding: 5px;
}

figure{

    width:300px;
    height:220px;
    border-radius:4px;
    border:2px solid #ccc;
    position:relative;
    padding:48px 10px 10px
}

figure:before {
    font-size: 0.9em;
    font-family: sans-serif;
    content: attr(data-title);
    background-color: #009879;
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-indent: 10px;
    border-bottom: 2px solid #ccc;
}


.styled-table {
    border-radius:4px;
    border:3px solid #ccc;
    display: block;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    width: 1000px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    height: 700px;
    overflow-y: scroll;
}

.styled-table thead {
    position: sticky;
    top: 0;
}
.styled-table thead tr {
    border-collapse: collapse;
    background-color: #009879;
    color: #ffffff;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}
.styled-table tbody td {
    max-height: 100px;
    overflow: auto;
}

.styled-table tbody {
  width: 100%;
  overflow: auto;
  height: 700px;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #333333;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}