<!DOCTYPE html>
<html lang="en">
{% extends 'layout.html' %}
{% block css %}
<link rel="stylesheet" type = "text/css" href="{{ url_for ('static' , filename='css/about.css') }}">
{% endblock %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <div class="infobox">
        <h2>Bank of America Capstone Project for NJIT Fall 2022</h2>
        <h2>External User Experience Intelligence</h2>
    </div> <br>
    <div class="infobox">
        <h2>Objective</h2>
        <p>The goal of this project is to identify and analyze different external signals not limited to posts, blogs,
news etc. to monitor customer feedback, discover correlated insights from external signals about
service performance and predict likely steps for improving customer satisfaction.</p>
    </div> <br>
    <div class="infobox">
        <h2>Narrative</h2>
        <p>Business services have increasing dependency on external user experience and service availability
indicators to alert them to potential service disruption. It would be beneficial to automate these
monitoring activities (using NLP techniques, cause effect relation, etc.) and be informed of likely steps
to take based on customer feedback, reports, complaints from external signals such as social media or news articles.</p>
    </div>
</head>
<body>

</body>
{% endblock %}
</html>