<!DOCTYPE html>
<html lang="en">
{% extends 'layout.html' %}
{% block css %}
<link rel="stylesheet" type = "text/css" href="{{ url_for ('static' , filename='css/contact.css') }}">
{% endblock %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Contact</title>
<form action="/contact" id="submitContactReport" method="post" title="Contact">
                <div class="submission">
                    <label><h2>Leave a message/suggestion/issue.</h2></label>
                    <label for="userEmail">Contact Email:</label>
                    <input type="text" placeholder="Email address" id="userEmail" name='userEmail' size="60"><br><br>
                    <label for="userReport"></label>
                    <textarea placeholder="Leave a message." id="userReport" name='userReport' rows="4" cols="120"></textarea><br><br>
                    <input type="submit" value="Send">
                </div><br>
            </form>
</head>
<body>

</body>
{% endblock %}
</html>