<!DOCTYPE html>
<html lang="en">
{% extends 'layout.html' %}
{% block css %}
<link rel="stylesheet" type = "text/css" href="{{ url_for ('static' , filename='css/resultsNews.css') }}">
{% endblock %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Results</title>
</head>


<body>

<div class="row">
    <div class="column">
        <table class="styled-table">
          <thead>
            <tr>
                <th>Article Title</th>
                <th>Article Text</th>
                <th>Topic</th>
                <th>Category</th>
                <th>Sentiment</th>
                <th>Date</th>
            </tr>
            </thead>
                <tbody>
                {% for article in articles %}
                    <tr>
                        <td><div style="height: 100px; overflow-x: hidden; overflow-y:scroll">{{ article.title }}</div></td>
                        <td><div style="height: 100px; overflow-x: hidden; overflow-y:scroll">{{ article.text }}</div></td>
                        <td><div style="text-align-all:center;height: 100px; overflow-x: hidden; overflow-y:scroll">{% for x in preTopicsDict[loop.index - 1 ] %}{{ x }}<br>{% endfor %}</div></td>
                        <td>{{ topicsofArticle[loop.index - 1] }}</td>
                        <td>{{ sentiments[loop.index - 1] }}</td>
                        <td>{{ article.published_date }}</td>
                    </tr>
                {% endfor %}
                </tbody>
        </table>
    </div>
    <div class="column2">
        <figure data-title="Samples by Category">
        <figcaption style="height: 100%; overflow: auto">
            {% for topic in topicCount %}
                Category {{ topic[0] }}
                <div class="containerBar">
                <div class="fillinBar" style="width:{{ topicSamplePercentages[loop.index - 1]}}">{{ topic[1] }}</div></div>
                <br>
            {% endfor %}
        </figcaption>
        </figure>
        <figure data-title="Keyword Cloud">
        <figcaption><img src="/static/pywordcloud2.png" style="width:100%; height: 100%"></figcaption>
        </figure>
    </div>
    <div class="column2">
        <figure data-title="Sentiment by Category">
        <figcaption style="height: 100%; overflow: auto">
                {% for topic in sentCatOrder %}
                    Category {{ topic }}
                    <div class="sentimentBar">
                        <div class="positiveBar" style="width:{{ sentCatTots[topic]["poscent"] }}; background-color: green">{{ sentCatTots[topic]["positive"] }}</div>
                        <div class="neutralBar" style="width:{{ sentCatTots[topic]["neucent"] }}; background-color: gray">{{ sentCatTots[topic]["neutral"] }}</div>
                        <div class="negativeBar" style="width:{{ sentCatTots[topic]["negcent"] }}; background-color: darkred">{{ sentCatTots[topic]["negative"] }}</div>
                    </div>
                    <br>
                {% endfor %}

            </figcaption>
        </figure>

        <table class="styled-table" style="width: 400px; height: 350px">
          <thead>
            <tr>
                <th>Category #</th>
                <th>Keywords</th>
            </tr>
            </thead>
                <tbody>
                {% for topic in topicsKey %}
                    <tr>
                        <td><div style="height: 100px; overflow-x: hidden; overflow-y:scroll">Category {{ loop.index - 1}} </div></td>
                        <td><div style="height: 100px; overflow-x: hidden; overflow-y:scroll">{{ topicsKey[loop.index - 1] }}</div></td>
                    </tr>
                {% endfor %}
                </tbody>

        </table>
    </div>
</div>



</body>
{% endblock %}
</html>