<!DOCTYPE html>
<html lang="en">
{% extends 'layout.html' %}
{% block css %}
<link rel="stylesheet" type = "text/css" href="{{ url_for ('static' , filename='css/resultsNews.css') }}">
{% endblock %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Results</title>
</head>


<body>

<div class="row">
    <div class="column">
        <table class="styled-table">
          <thead>
            <tr>
              <th>Article Title</th>
              <th>Article Text</th>
              <th>Sentiment</th>
            </tr>
            </thead>
                <tbody>
                {% for article in articles %}
                    <tr>
                        <td><div style="height: 100px; overflow-x: hidden; overflow-y:scroll">{{ article.title }}</div></td>
                        <td><div style="height: 100px; overflow-x: hidden; overflow-y:scroll">{{ article.text }}</div></td>
                        <td>WIP</td>
                    </tr>
                {% endfor %}
                </tbody>
        </table>
    </div>
    <div class="column2">
        <figure data-title="Samples by Category">
        <figcaption>Work in Progress</figcaption>
        </figure>
        <figure data-title="Keyword Cloud">
        <figcaption>Work in Progress</figcaption>
        </figure>
    </div>
    <div class="column2">
        <figure data-title="Sentiment by Category">
        <figcaption>Work in Progress</figcaption>
        </figure>
        <figure data-title="Keyword Cloud">
        <figcaption>Work in Progress</figcaption>
        </figure>
    </div>


</div>

</body>
{% endblock %}
</html>